six
ipython
dataset
matplotlib
pandas
requests
scipy
#cartopy
#GEOS https://trac.osgeo.org/geos/
#proj
shapely
#SQLAlchemy
pyshp
Cython
#ipyleaflet
dash
plotly
fiona
pyproj
rtree
shapely
geopandas
xdg
